@media only screen and (min-width: 1315px){

*{
padding:0;
margin:0;
text-decoration: none;
list-style:none;
box-sizing:border-box;
}

.body{
font-family: montserrat;
}

.navbar {
    background-color: #0082e6;
    height:80px;
    width:100%;
}

.navbar ul {
   float: right;
   margin-right: 20px;

}

.navbar ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

.navbar ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
background: #1b9bff;
transition: 0.5s;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

label.logo{
color: white;
font-size: 40px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/** home **/

.pass-ho{
text-align: center;
}

/** End of home **/

/** layout **/
.pass-lay{
text-align: center;
height:60vh;
width: 100%;
background:#0082e6;
}

/** End of layout **/

/** add **/
.pass-add{
text-align: center;
padding-top: 50px;
}

.pass-add label{
color: #0082e6;
 }

 .pass-add label span{
 margin-left: 30px;
 }

.pass-add input{

width: 200px;
height: 20px;
}

.pass-add button{
width: 150px;
height: 40px;
margin-left: 100px;
background-color: #0082e6;
}

/* End Of Add */
}


/* Iphone 14 Responsive */

@media only screen and (min-width: 390px){

*{
padding:0;
margin:0;
text-decoration: none;
list-style:none;
box-sizing:border-box;
}

.body{
font-family: montserrat;
width: 100%;
height: 20vh;
}

.navbar {
    background-color: #0082e6;
    height:130px;
    width:100%;
    padding-right: 20px;
}

.navbar ul {
   float: right;
   margin-right: 10px;
}

.navbar ul li{
display: inline-block;

}

.navbar ul li a{
    color: yellow;
    font-size: 17px;
    padding: 5px 5px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
background: #1b9bff;
transition: 0.5s;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

label.logo{
color: white;
font-size: 40px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/** home **/

.pass-ho{
text-align: center;
}

/** End of home **/

/** layout **/
.pass-lay{
text-align: center;
height:60vh;
width: 100%;
background:#0082e6;
}

/** End of layout **/

/** add **/
.pass-add{
text-align: center;
padding-top: 50px;
}

.pass-add label{
color: #0082e6;
 }

 .pass-add label span{
 margin-left: 30px;
 }

.pass-add input{

width: 200px;
height: 20px;
}

.pass-add button{
width: 150px;
height: 40px;
margin-left: 100px;
background-color: #0082e6;
}

}
/* End Iphone 14 Responsive */

